@font-face {
	font-family: 'Baskerville';
	src: url(http://learn-co-curriculum.github.io/fe-zetsy/fonts/Baskerville.ttc);
}
/* link the web font used for the level 1 heading here */

/*////////// Global Styles //////////*/

body {
	background: #F3EBE9;
	font-size: 100%;
	font-family: 'Times New Roman', serif;
	color: #888;
}

.wrapper {
	width: 960px;
	margin: 0 auto;
	background: #fff;
	padding: 0 45px 20px;
}

#header {

}

#header h1 {
	font-size: 6em;
	font-family: 'Baskerville', serif;
	font-weight: normal;
	line-height: 1.5em;
	border-style: solid;
	border-color: #888;
	border-width: 0px 0px 1px 0px;
	margin-bottom: 5px;
}
#header img {
	border: 5px solid #888;
}

#press img {
	border: 5px solid #CCC;

}
#press img:hover {
	border-color: #888;
}

#footer{
	font-size: 0.75em;
	text-align: right;
}
/* Write all remaining styles here */
